/* regole universali css */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
    /* background-color: blue; */
    color: grey;
    font-family: 'Roboto', sans-serif;
}
.warning{
    background-color: black;
    color: red;
    position: fixed;
    transform: translate(1200px, 200px);
    width: 300px;
    z-index: 23;
}
h2 {
    color: black;
    font-size: 200%;
    margin-bottom: 10px;
}

.struttura_piano {
    font-size: 52%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 12px 8px;
    background-color: #7CBB02;
}

/* Inizio header */
.contenitore_header {
    background-color: #0C325A;
        border:black dashed 5px;
}
header .upper_header,
header .lower_header {
    width: 80%;
    margin: auto;
        border: solid purple 1px;
}
header {
    height: 400px;
    margin: auto;
    border: solid green 3px;
    background-image: url("../img/background-header.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right -40px bottom 0;
    max-width: 1200px;
    margin: auto;
}

header .logo {
    display: inline-block;
    float: left;
}
header .nav_bar {
    display: inline-block;
    float: left;
    transform: translate(10%, +50%);
}
header .accesso  {
    display: inline-block;
    float: right;
    transform: translate(0%, +50%);
}

header nav ul li{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 52%;
    /* font-weight: 300; */
    padding: 5px;
    color: white;
    border-radius: 5px;
}
header .hero{
    position: relative;
    margin: auto;
    height: 350px;
        border: solid purple 4px;

}
header .hero h1 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    text-align: left;
    width: 50%;
    color: white;
}
header .struttura_piano{
    position: absolute;
    bottom: 20%;
    left: 0;
}
header::after{
    clear: both;
    content: "";
    display: block;
}
#login{
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 15px;
    border: white solid 1px;
}
#struttura_piano {
    padding: 5px;
    background-color: #7CBB02;
}

/* fine header */


/* Section 1 */
.contenitore_section_grey{
    background-color: #D3D3D3;
}
#section_1{
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 80%;
}
#section_1 h2 {
    margin: 0;
    letter-spacing: -1px;
}
#section_1 p {
    margin-top: 10px;
    letter-spacing: 0.7px;
}
/* Fine Section 1 */


/* Section 2 */
.contenitore_section::after{
    content: "";
    display: block;
    clear: both;
    /* height: 500px; */
    background-color: white;
    /* border: red solid 3px; */
}
.section_3_boxes{
    width: 80%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    /* margin-top: 20px; */
    /* border: dotted blue 5px; */
}
section .colonna {
    width: calc(99% / 3);
    text-align: center;
    float: left;
            /* display: inline-block;
            vertical-align: text-top; */
    padding: 0 1.5%;
    /* overflow: hidden; */
    /* border: solid black 3px; */
}
    /* .colonna .colonna_top,
    .colonna .colonna_bot {
        border: pink solid 2px;
    } */
.colonna img {
    /* position: absolute;
    top: 0; */
    object-fit: fill;
    height: 200px;
    margin-top: 35px;
    /* margin: auto; */
        border: green dashed 5px;
}
    /* #off_set_imm {
        transition: translate(1%,0);
        padding-left: 2%;
        padding-right: 2%;
    } */
.hr_short{
    border: 2px solid #D3D3D3;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 23px;
}
.colonna h3 {
    color: #7CBB02;
    margin: 10px 0;
    border: pink solid 2px;
}
/* Fine Section 2 */

.hr_long{
    border: 1px solid #D3D3D3;
    margin: 40px 0;
}

/* Section 3 */
.section_3 {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    border: solid blue 3px;
}
.section_3 .box_left{
    float: left;
    object-fit: contain;
    width: 40%;
    border: solid lightblue 3px;

}
.section_3 .box_right {
    margin-left: 100px;
    display: block;
    width: 40%;
    float: left;
    /* padding: 0 30% 0 20%; */
    border: solid lightblue 3px;
}


.section_3 .box_right p {
    margin-bottom: 10px;
}
/* Fine Section 3 */


/* Section 4 */
.section_4 {
    width: 80%;
    height: 100px;
    margin: auto;
    overflow: auto;
    position: relative;
}
.section_4 h2{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.section_4 .small_menu_right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);


}
#seleziona{
    text-transform: capitalize;
    /* text-decoration: underline; */
    width: 200%;
    border-bottom: grey;
}
/* Fine Section 4 */
#help {
    position: fixed;
    bottom: 0;
    right: 13.5%;
}
