/* regole universali css */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}
.warning{
    background-color: black;
    color: red;
    position: fixed;
    transform: translate(1200px, 200px);
    width: 300px;

}

/* Inizio header */
.contenitore_header {
    background-color: #0C325A;
    background-image: url("../img/background-header.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: right -40px bottom 0;
    max-width: 1200px;
    margin: auto;
}

header {
    height: 400px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    border: solid green 3px;

}

header .logo {
    display: inline-block;
    float: left;
}
header .nav_bar {
    display: inline-block;
    float: left;
    transform: translate(10%, +50%);
}
header .accesso  {
    display: inline-block;
    float: right;
    transform: translate(0%, +50%);

}

header nav ul li{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 52%;
    /* font-weight: 300; */
    padding: 5px;
    color: white;
    border-radius: 5px;
}
header .hero{
    position: relative;
    margin: auto;
    height: 350px;
}
header .hero h1 {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    text-align: left;
    width: 50%;
    color: white;
}
header .struttura_piano{
    position: absolute;
    bottom: 20%;
    left: 0;
}
header::after{
    clear: both;
    content: "";
    display: block;
}
#login{
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 15px;
    border: white solid 1px;
}
#struttura_piano {
    padding: 5px;
    background-color: #7CBB02;
}

/* fine header */

/* Section 1 */
#section_1{
    padding: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 80%;
}
#section_1 p {
    letter-spacing: 0.7px;
    color: grey;
}


/* Fine Section 1 */

/* Section 2 */

/* Fine Section 2 */
/* Section 1 */
/* Fine Section 1 */
/* Section 1 */
/* Fine Section 1 */

.struttura_piano {
    font-size: 52%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 12px 8px;
    background-color: #7CBB02;
}
.contenitore_section_grey{
    background-color: #D3D3D3;
}
